:root {
    --background-color: #4a4a4a;
    --header-bg-color: #000000;
    --header-text-color: white;
    --new-label-bg-color: #fc6200;
    --new-label-text-color: white;
    --tile-bg-color: #272727;
    --tile-header-bg-color: #000000;
    --tile-header-text-color: white;
    --button-bg-color: #fc6200;
    --button-hover-bg-color: #e28743;
    --input-border-color: #ccc;
    --data-hover-color: #e28743;
    --data-borderLine-color : #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 20px;
    height: 10%;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.new-label {
    position: absolute;
    background: var(--new-label-bg-color);
    color: var(--new-label-text-color);
    padding: 2px 2px;
    font-weight: bold;
    transform-origin: 0 0; 
    transform: translate(29.3%) rotate(45deg);
    box-shadow: 0 0 0 999px var(--new-label-bg-color);
    clip-path: inset(0 -100%);
    top: 0;
    right: 0;
}

main {
    display: flex;
    padding: 12px;
    box-sizing: border-box;
    gap: 10px;
    height: 80%;
}

.tile {
    background-color: var(--tile-bg-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--tile-header-text-color);
}

.tile-header {
    background-color: var(--tile-header-bg-color);
    color: var(--tile-header-text-color);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.tile-header-result {
    background-color: var(--tile-header-bg-color);
    color: var(--tile-header-text-color);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
}

.tile-header-result .right {
    position: relative;
    left: 40%;
}

@media (min-width: 1440px) {
    .tile-header-result .right {
        position: relative;
        left: 400px;
    }
}

@media (min-width: 2560px) {
    .tile-header-result .right {
        position: relative;
        left: 830px;
    }
}

.tile1 {
    height: 100%;
    width: 25%;
    margin-left: 45px;
}

.right-tiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    gap: 10px;
}

.tile2 {
    height: 30%;
    width: 100%;
}

.tile3 {
    height: 70%;
    width: 100%;
}

.tile-body {
    margin: 10px;
}

.tile-body-input {
    display: flex;
    position: relative;
    top: 20%;
    left: 1%;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.tile-body-input input {
    padding: 10px;
    width: 30%;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    cursor: pointer;
}

.tile-body-input button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--new-label-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tile-body-input button:hover {
    background-color: var(--button-hover-bg-color);
}

.tile-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-align: left;
}

.tile-body th, .tile-body td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--data-borderLine-color);
}

.results-table tbody {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease-out, transform 4s ease-out; 
}

.results-table tbody.show {
    opacity: 1;
    transform: translateY(0);
}

.tile-body tr:hover {
    background-color: var(--data-hover-color);
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 767px) {

    header {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }

    .new-label {
        padding: 2px;
        transform: translate(20%) rotate(45deg);
    }

    main {
        flex-direction: column;
        padding: 5px;
    }

    .tile1, .right-tiles {
        width: 100%;
        margin-left: 0;
        gap: 5px;
    }

    .tile1, .tile2, .tile3 {
        height: auto;
        width: 100%;
    }

    .tile-header, .tile-header-result {
        padding: 5px;
    }

    .tile-header-result .right {
        position: relative;
        left: 20%;
    }

    .tile-body-input {
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 10px 0;
    }

    .tile-body-input input {
        width: 50%;
        padding: 5px;
    }

    .tile-body-input button {
        width: 20%;
        padding: 5px;
    }

    .tile-body table {
        font-size: 0.8em;
    }

    .tile-body th, .tile-body td {
        padding: 8px 10px;
    }
}

