* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000; 
    color: white; 
    padding: 20px; 
    height: 10%;
    width: 90%; 
    margin-top: 40px;
    margin-left: 50px;
    text-align: left; 
    box-sizing: border-box; 
    position: relative; 
    display: flex;
    align-items: center;
}

.new-label {
    background-color: #fc6200;
    color: white; 
    padding: 6px 10px; 
    position: absolute; 
    top: 48%; 
    right: 5%; 
    transform: translate(50%, -50%) rotate(37deg);
    border-radius: 3px; 
    font-weight: bold; 
}

main {
    display: flex;
    padding: 12px;
    box-sizing: border-box;
    gap: 10px; 
    height: 80%;
}

.tile {
    background-color: #272727;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    color: white;
}

.tile-header {
    background-color: #000000; 
    color: white;
    padding: 10px; 
    margin: 0; 
    box-sizing: border-box; 
    width: 100%; 
}
.tile-header-result{
    background-color: #000000; 
    color: white; 
    padding: 10px;
    margin: 0; 
    box-sizing: border-box; 
    width: 100%;
    display: flex;
    align-items: center; 
}
.tile-header-result .right {
    position: relative;
    left: 30%;
}

.tile1 {
    height: 100%;
    width: 25%;
    margin-left: 45px;
}

.right-tiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    gap: 10px; 
}

.tile2 {
    height: 30%;
    width: 100%;
}
.tile3  {
    height: 70%;
    width: 100%;
}
.tile-body {
    margin: 10px;
}
.tile-body-input {
    display: flex;
    position: relative;
    top:20%;
    left: 1%;
    align-items: center; 
    gap: 10px; 
    cursor: pointer;
}

.tile-body-input input {
    padding: 10px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tile-body-input button {
    padding: 10px 20px;
    background-color: #fc6200;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tile-body-input button:hover {
    background-color: #e28743;
}
